version: '3.2'

services:
  proxy:
    container_name: proxy
    build: ./reverse-proxy
    ports:
      - "8080:8080"
    depends_on:
      - app0
      - app1
      - app2
    environment:
      - BACKEND_URLS=http://app0:9000,http://app1:9000,http://app2:9000
      - PROXY_PORT=8080

  app0:
    container_name: app0
    build: ./todo-list-app
    ports:
      - "9000:9000"
    depends_on:
      - mysql
    environment:
      - APP_PORT=9000
      - DB_USER=root
      - DB_PASS=root
      - DB_HOST=mysql
      - DB_PORT=3306
      - DB_NAME=go_todo_list

  app1:
    container_name: app1
    build: ./todo-list-app
    ports:
      - "9001:9000"
    depends_on:
        - mysql
    environment:
        - APP_PORT=9000
        - DB_USER=root
        - DB_PASS=root
        - DB_HOST=mysql
        - DB_PORT=3306
        - DB_NAME=go_todo_list

  app2:
    container_name: app2
    build: ./todo-list-app
    ports:
      - "9002:9000"
    depends_on:
      - mysql
    environment:
      - APP_PORT=9000
      - DB_USER=root
      - DB_PASS=root
      - DB_HOST=mysql
      - DB_PORT=3306
      - DB_NAME=go_todo_list

  mysql:
    container_name: mysql
    image: mysql:8.0
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: go_todo_list
      MYSQL_ROOT_PASSWORD: root
      MYSQL_GENERAL_LOG: 0
    volumes:
      - data-mysql:/data/mysql

volumes:
  data-mysql:
